[submodule "Assets/Plugins/ViJTools"]
	path = UTools-UnityProject/Assets/Plugins/UTools
url=git@github.com:dr-vij/UTools.git
[submodule "Assets/Plugins/MeshTools"]
	path = UTools-UnityProject/Assets/Plugins/MeshTools
	url = git@github.com:dr-vij/MeshTools.git
[submodule "TextureCanvasSourceGenerators"]
	path = CanvasTextureSourceGenerators/TextureCanvasSourceGenerators
url=git@github.com:dr-vij/CanvasTextureSourceGenerators.git
[submodule "UTools-UnityProject/Assets/Plugins/CanvasTexture"]
	path = UTools-UnityProject/Assets/Plugins/CanvasTexture
	url = git@github.com:dr-vij/CanvasTexture.git
