[submodule "Assets/Plugins/ViJTools"]
	path = UTools-UnityProject/Assets/Plugins/ViJTools
url=git@github.com:dr-vij/UTools.git
[submodule "Assets/Plugins/MeshTools"]
	path = UTools-UnityProject/Assets/Plugins/MeshTools
	url = git@github.com:dr-vij/MeshTools.git
